
.header{
    background: whitesmoke;
    display: flex;
    width: 100%;
    height: 50px;
    align-self:center;
}
*{
    margin: 0;
    padding: 0;
    font-family: fantasy;
}
.container{
    padding-left: 15%;
    padding-right: 15%;
}
.info{
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(68, 64, 64);
}
.knop{
    color: rgba(211, 35, 108, 0.986);
}


.btn{   
     margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: auto;
    padding:5px 15px 5px 15px;
    border-radius: 5px;
    border:solid 1px #f24413;
    color:#f24413;
    background: whitesmoke;
}
.info:hover{

        background-color: #fff;
        color: #ED4C5C;
        transition: .3s linear;
        cursor: pointer;
    
}
.top:hover{
        background-color: #fff;
        color: #ED4C5C;
        transition: .3s linear;
        cursor: pointer;
    
}
.number{
    margin-bottom: auto;
    margin-top: auto;
    margin-left: 48%;
}
.dmitrii{
    display: flex;
    width: 100%;
    height:300px ;
    background: whitesmoke;
}
.dmitri_info{
    background: rgba(135, 235, 210, 0);
    flex: 3;
}
.dmitri_photo{
flex: 1;
display: block;
max-width: 100%;
height: 100%;
}
.btn1{
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left:10%;
    padding:10px 20px 10px 20px;
    border-radius: 5px;
    border:solid 1px #f24413;
    background: #f24413;
    color:whitesmoke;
}
.description{
    margin-top:40px;
    width: 100%;
    display: flex;
}
.center1{
    margin-left: auto;
    margin-right: auto;

}
.color-text{
    color: rgb(68, 64, 64);
}
.icons{
    margin-top: 40px;
    -webkit-flex-direction: row; /* Safari */
    display: flex;
    flex-direction: row;
    
 justify-content: space-around;
}
.icon{
    height: 120px;
    width: 20%;

}
.icon1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.btn-cost{
    display: flex;
    margin-top: 30px;
}
.btn-center{
    cursor: pointer;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    padding:10px 30px 10px 30px;
    border-radius: 5px;
    border:solid 1px #f24413;
    background: #f24413;
    color:whitesmoke;
}
.text{
text-align: center;
}
.work_examples{
    display: flex;
}
.examples{
    margin-top: 40px;
    -webkit-flex-direction: row; /* Safari */
    display: flex;
    flex-direction: row;
    
 justify-content: space-around;
}
.example{
    height: 250px;
    width: 30%;
}
.img{
    display: block;
    max-width: 100%;
    height: 100%;
}
.text1{
    margin-top: 10px;
}
.footer-1{
    margin-top: 60px;
    height: 250px;
    width: 100%;
    background:#f24413 ;
}
.footer-text{
    margin-left: 20%;
    margin-right: 20%;
    color: whitesmoke;
    padding-top: 4%;
    padding-bottom: 2%;
}
.basement1{
    margin-top: 40px;
    -webkit-flex-direction: row; /* Safari */
    display: flex;
    flex-direction: row;
    
 justify-content: space-around;
}
.top{
    padding-top: 10px;
}
.basement{
    height: 100px;
    width: 30%;

}
.bt{
    display: flex;

}
.btn-basem{
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    padding:5px 15px 5px 15px;
    border-radius: 5px;
    border:solid 1px #f24413;
    color:#f24413;
    background: whitesmoke;
}
.icon-fl{
display: flex;
flex-direction: column;
}
.soc-seti{
display: flex;
justify-content: space-around;
}
.ic{
padding-top: 10px;
}
.end{
    display: flex;
    background: rgba(5, 15, 37, 0.808);
    height: 40px;
}
.text-end{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: whitesmoke;
}
@media screen and (min-device-width-width:1000px){
    .number{
        margin-left: 28%;
    }
}

@media screen and (max-width: 1024px){
    .number{
        margin-left: 28%;
    }
    .dmitrii{
        height: 200px;
    }
}
@media screen and (min-width:1025px){
    .number{
        margin-left: 45%;
    }
}
@media screen and (max-device-width:425px) {
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    .header{
        width: 100%;
        height: 500px;
        align-self:center;
        flex-direction: column;
    }
    *{
        font-family: none;
    }
    .info, .number, .btn, .top{
        font-size: 40px;
        margin-left: auto;
        margin-right: auto;
    }
    .dmitrii{
        flex-direction: column;
        height: 600px;
    }
    .dmitri_info{
        width: 100%;
        font-size: 40px;
    }
    .btn1{
        font-size: 40px;
    }
    .dmitri_photo{
        width: 100%;
        height: 800px;
    }
    .description{
    margin-top: 600px;
    font-size: 40px;
    }
    .btn-center, .center1{
        font-size: 40px;
    }
    .icons{
        margin-top: -200px;
        display: flex;
        flex-wrap: wrap;
        height: 800px;
        align-content: space-between;
    }
    .icon1{
        width: 40%;
        height: 250px;
    }
    .icon{
        width: 100%;
        margin-top: 300px;
    }
    .text{
        font-size: 30px;
    }
    .top-btn{
        margin-top: 1200px;
    }
    .examples{
        display: flex;
        flex-direction: column;
        display: flex;
        flex-wrap: wrap;
        height: 2000px;
        align-content: space-between;
    }
    .example{
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        height: 600px;
        width: 100%;
    }
    .img{
        margin-left: auto;
        margin-right: auto; 
        display: block;
        max-width: 100%;
        width: 100%;
        height: 90%;
    }
    .footer-1{
        padding: 0px 0px;
    }
    .footer-text{
        font-size: 40px;
    }
    .footer-1{
        height: 1000px;
    }
    .basement1{
        margin-top: -50px;
        width: 100%;
        height: 1000px;
        align-self:center;
        flex-direction: column;
    }
    .basement{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .top{
        margin-top: 20px;
        text-align: center;
    }
    .btn-basem{
        font-size: 40px;
    }
    .soc-seti{
        margin-top: 50px;
    }
    .ic{
        width: 6%;
        height: 70%;
    }
    .end{
        margin-top: 50px;
    }
}
